/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;

}

/* Common */
:root {
  --blue: #0061FF;
  --light-blue: #B4D0E7;
  --light-green: #A2D39B;
  --magenta: #61082C;
  --cornflowernblue: #0893CE;
  --light-red: #F91D1D;
  --red: #D5001F;
  --dark-blue: #0D2481;
  --sugar-paper: #B4D0E7;
  --yellow: #FFD830;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.width-20 {
    width: 20%;
}

.width-25 {
    width: 25%;
}

.width-50 {
    width: 50%;
}

.width-70 {
    width: 70%;
    margin: 0 auto;
}

.width-75 {
    width: 75%;
}

.width-80 {
    width: 80%;
    margin: 0 auto;
}

.padding-tb-8 {
    padding: 8% 0;
}

.padding-tb-4em {
    padding-top: 4em;
    padding-bottom: 4em;
}

.padding-t-4em {
    padding-top: 4em;
}

.padding-tb-8em {
    padding-top: 8em;
    padding-bottom: 8em;
}

.margin-top-4em {
    margin-top: 4em;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.hidden {
    visibility: hidden;
}

a.btn-blue,
a.btn-blue:hover,
a.btn-blue:focus,
a.btn-blue:active {
    padding: 7px 20px;
    font-size: 0.9em;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--blue);
}

a.btn-light,
a.btn-light:hover,
a.btn-light:focus,
a.btn-light:active {
    padding: 7px 20px;
    /* font-size: 0.9em; */
    line-height: 2em;
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid black;
}

a.btn-white,
a.btn-white:hover,
a.btn-white:focus,
a.btn-white:active {
    padding: 7px 20px;
    font-size: 0.9em;
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: white;
}

ul {
    list-style-type: none;
}

/* Test layout */
body {
    width: 100%;
    min-width: 600px;
    max-width: 2000px;
    margin: 0 auto;
}

/* Header */

header nav {
    width: 100%;
    height: 80px;
    padding: 0 25px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

nav .col-logo {
    width: 7%;
    padding: 25px 0;
}

nav .col-menu-first {
    width: 40%;
    padding-left: 2%;
}

nav .col-menu-second {
    width: 40%;
    text-align: right;
    padding-right: 2%;
}

nav .col-btn {
    margin: 25px 0;
}

nav .col-logo img {
    width: 100%;
    vertical-align: middle;
}

nav ul.nav-menu {
    line-height: 30px;
    vertical-align: middle;
}

ul.nav-menu > li {
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

ul.nav-menu a.main-menu,
ul.nav-menu a.main-menu:hover,
ul.nav-menu a.main-menu:active,
ul.nav-menu a.main-menu:focus {
    text-decoration: none;
    color: black;
    display: inline-block;
    height: 80px;
    width: 100%;
    padding: 25px 0;
}

ul.nav-menu a.main-menu:hover,
ul.nav-menu a.main-menu:active,
ul.nav-menu a.main-menu:focus {
    border-bottom: 2px solid var(--blue);
}

.dropdown-content {
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    padding: 1.5em 0;
    width: 80%;
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
}

ul.nav-menu li:hover .dropdown-content {
    display: block;
}

a.dropdown-menu {
    text-decoration: none;
    color: black;
}

ul.dropdown-content a.dropdown-menu:hover,
ul.dropdown-content a.dropdown-menu:active,
ul.dropdown-content a.dropdown-menu:focus {
    text-decoration: underline;
    color: black;
    display: inline-block;
    width: 100%;
}

/* Jumbotron */

header .jumbotron {
    width: 100%;
    background-color: var(--light-blue);
    margin-top: 80px;
}

.jumbotron h1.jumbo-title {
    font-size: 4.7em;
    padding-bottom: 0.6em;
}

.col-jumbo-left {
    width: 35%;
    padding-right: 3.5em;
}

.col-jumbo-right {
    width: 65%;
}

.col-jumbo-left .desc {
    padding-bottom: 1.5em;
}

.jumbo-trial a.btn-blue,
.jumbo-trial a.btn-blue:hover,
.jumbo-trial a.btn-blue:active,
.jumbo-trial a.btn-blue:focus {
    font-size: 1.1em;
}

.col-jumbo-left .desc-little {
    padding-top: 0.9em;
    padding-bottom: 3em;
    font-size: 0.9em;
}


.arrow-down i {
    font-size: 2.5em;
}

.arrow-down a,
.arrow-down a:hover,
.arrow-down a:focus,
.arrow-down a:active {
    color: black;
}


.jumbo-img {
    top: 0;
    left: 0;
}

.col-jumbo-right img {
    width: 100%;
}

/* Main */

main {
    width: 100%;
    padding-top: 10em;
}

main h2 {
    font-size: 2.5em;
}

main h3 {
    font-size: 1.5em;
}

main h4 {
    font-size: 0.9em;
    padding: 1.3em 0 1em 0;
}

/* Sezione piani tariffari */

span.circle {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    cursor: pointer;
}

span.circle.bordered {
    border: 3px solid var(--blue);
}

span.circle.empty {
    border: 1px solid grey;
}

.billing > span {
    line-height: 15px;
    vertical-align: middle;
}

span.billing-type {
    padding-left: 0.2em;
    padding-right: 3em;
}

.container-col-plans {
    margin-top: 3em;
}

.container-col-plans .col-plan {
    width: calc(100% / 3 - 40px);
    /* height: 800px; */
    background-color: white;
    border: 1px solid lightgrey;
}

.container-col-plans .col-plan:nth-child(2) {
    margin: 0 60px 0 60px;
}

.container-col-plans .col-plan:last-child {
    width: 100%;
    margin-top: 3em;
}

.col-plan .for-who {
    text-align: center;
    padding: 0.5em 0;
    border-bottom: 1px solid lightgrey;
}

.col-plan .container-offer {
    padding: 2em 2em 2em 2em;
}

p.grey {
    color: grey;
    font-size: 0.9em;
}

p.offer-black {
    font-size: 0.9em;
}

.first-row .desc-offer {
    padding-bottom: 10em;
}

.desc-offer ul {
    font-size: 0.8em;
    padding: 3em 0;
}

.desc-offer li {
    padding-bottom: 1em;
    font-size: 1.1em;
}

.desc-offer li:last-child {
    padding-bottom: 0em;
}

.desc-offer .li-icon {
    width: 7%;
}

.desc-offer .li-desc {
    width: 93%;
}

.offer-trial a.btn-blue,
.offer-trial a.btn-white {
    width: 100%;
    text-align: center;
}

span.purchase {
    display: inline-block;
    font-size: 0.9em;
    padding: 2em 0;
}

span.purchase.underline {
    border-bottom: 1px solid lightgrey;
}

span.purchase a,
span.purchase a:hover,
span.purchase a:active,
span.purchase a:focus {
    color: var(--blue);
    text-decoration: underline;
}

.hightlights > h4 {
    padding: 3em 0 0 0;
}

.hightlights > ul {
    padding: 1.5em 0;
}

.hightlights .fa-check {
    color: var(--blue);
    font-size: 1.2em;
}

/* Sezione trova un partner */
.partner-container .partner-col-left {
    width: 55%;
}

.partner-container .partner-col-right {
    width: 45%;
}

.partner-col-left img {
    width: 100%;
}

.partner-col-right .container-col-right {
    padding: 3em;
}

.partner-col-right .container-col-right p {
    padding: 2em 0;
}

.partner-col-right .btn-light {

}

/* Sezione features Dropbox Business */

.features-container .col-features {
    width: calc(100% / 3 - 40px);
}

.features-container .col-features:nth-child(3n+2) {
    margin: 0 60px;
}

.features-container .col-features img {
    width: 100%;
}

.features-container .col-features h3 {
    margin: 0.3em 0 1em 0;
}

.features-container .col-features a,
.features-container .col-features a:hover,
.features-container .col-features a:focus,
.features-container .col-features a:active {
    color: black;
}

/* Sezione team */
.teams .team-header .team-header-text {
    width: 50%;
}

.teams .team-header span.clients {
    display: inline-block;
    padding: 2em 0;
}

span.clients a,
span.clients a:hover,
span.clients a:active,
span.clients a:focus {
    color: var(--blue);
    text-decoration: underline;
}

.squared-teams {
    background-color: #F5F5F5;
}

.squared-teams .col-squared-teams {
    width: 15%;
    text-align: center;
}

.squared-teams .col-center-team {
    width: 40%;
}

.col-squared-teams .team {
    padding-bottom: 100%;
}

.col-squared-teams .team.bordered {
    border: 10px solid #D1E9CD;
    padding-bottom: calc(100% - 20px);
}

.col-squared-teams .team .logo {
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

.col-squared-teams .designit {
    background-color: var(--light-green);
}

.col-squared-teams .florida {
    background-color: var(--cornflowernblue);
}

.col-squared-teams .arizona {
    background-color: var(--magenta);
}

.col-squared-teams .topps {
    background-color: var(--light-red);
}

.col-squared-teams .bicycle {
    background-color: var(--red);
}

.col-squared-teams .planet {
    background-color: var(--dark-blue);
}

.col-squared-teams .hearst {
    background-color: var(--sugar-paper);
}

.col-squared-teams .clearchannel {
    background-color: var(--yellow);
}

.col-center-team {
    padding: 3em 3em 0 3em;
}

.col-center-team img {
    width: 20%;
    display: inline-block;
}

.col-center-team .col-center-container {
    overflow-y: scroll;
    padding-bottom: 62%;
}

.col-center-team p {
    margin: 4em 0;
}

.col-center-team .logo-desc::before {
    content: '';
    width: 10%;
    height: 1px;
    display: inline-block;
    margin-top: 2em;
    background-color: lightgrey;
}

/* Sezione trial, "Porta Dropbox Business nella tua azienda" */
main .trial {
    background-color: var(--sugar-paper);
}

.trial .text h2 {
    color: var(--magenta);
}

/* Sezione domande frequenti */
.faq .container-faq h3 {
    font-size: 2em;
    padding-bottom: 1.5em;
}

/* .faq .container-faq li.question {
    font-weight: bold;
} */

/* .faq .container-faq span.question {
    font-weight: bold;
} */

.faq .container-faq li.question {
    padding: 2em 0;
    font-weight: bold;
    border-top: 1px solid grey;
}

.faq .container-faq li.question:last-child {
    border-bottom: 1px solid grey;
}

.faq .container-faq ul.answer {
    display: none;
    font-weight: normal;
    padding-top: 2em;
}

li.question:hover > ul.answer {
    display: inline-block;
}

.faq i.float-right {
    padding-right: 3%;
}

/* Footer */
footer {
    background-color: black;
}

.footer-container .first-row {
    color: white;
    padding-bottom: 6em;
}

.first-row .col-footer-container:last-child {
    margin-right: 0;
}

footer .footer-container .first-row h3 {
    font-size: 1.4em;
}

footer .footer-container .first-row ul {
    padding-top: 2em;
}

footer .footer-container .first-row li {
    padding-bottom: 1em;
    font-size: 0.9em;
}

footer .footer-container .first-row li:last-child {
    padding-bottom: 0em;
}

footer .footer-container .first-row a {
    text-decoration: none;
    color: white;
}

footer .footer-container .first-row a:hover,
footer .footer-container .first-row a:focus,
footer .footer-container .first-row a:active {
    text-decoration: underline;
}

.footer-container .second-row {
    color: grey;
}

.footer-container .second-row .second-row-container {
    padding-top: 3em;
    font-size: 0.9em;
}

.footer-container .second-row .fa-sort-up {
    vertical-align: bottom;
}

.footer-container .second-row::before {
    content: '';
    width: 8%;
    height: 1px;
    display: inline-block;
    margin-bottom: 1em;
    background-color: white;
}