/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;

}

/* Common */
:root {
  --blue: #0061FF;
  --light-blue: #B4D0E7;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.width-70 {
    width: 70%;
    margin: 0 auto;
}

.width-80 {
    width: 80%;
    margin: 0 auto;
}

.padding-tb-5 {
    padding: 5% 0;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.hidden {
    visibility: hidden;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
}

.btn-blue {
    background-color: var(--blue);
    padding: 7px 20px;
    font-size: 0.9em;
    text-align: center;
} 

.btn-blue a,
.btn-blue a:hover,
.btn-blue a:focus,
.btn-blue a:active {
    color: white;
    display: inline-block;
    height: 100%;
    width: 100%;
}

/* Test layout */
body {
    width: 100%;
    min-width: 600px;
    max-width: 2000px;
    margin: 0 auto;
}

footer {
    height: 600px;
    background-color: black;
}

/* Header */

header nav {
    width: 100%;
    height: 80px;
    padding: 0 25px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

nav .col-logo {
    width: 10%;
    padding: 25px 0;
}

nav .col-menu-first {
    width: 30%;
}

nav .col-menu-second {
    width: 30%;
}

nav .col-btn {
    margin: 25px 0;
}

nav .col-logo img {
    height: 100%;
    vertical-align: middle;
}

nav ul.nav-menu {
    list-style-type: none;
    line-height: 30px;
    vertical-align: middle;
}

ul.nav-menu > li {
    display: inline-block;
    margin: 0 20px;
}

ul.nav-menu a,
ul.nav-menu a:hover,
ul.nav-menu a:active,
ul.nav-menu a:focus {
    text-decoration: none;
    color: black;
    display: inline-block;
    height: 80px;
    width: 100%;
    padding: 25px 0;
}

ul.nav-menu a:hover,
ul.nav-menu a:active,
ul.nav-menu a:focus {
    border-bottom: 2px solid var(--blue);
}

/* Jumbotron */

header .jumbotron {
    width: 100%;
    background-color: var(--light-blue);
    margin-top: 80px;
}

.jumbotron .btn-blue {
    display: inline-block;
}

.jumbotron h1.jumbo-title {
    font-size: 4.7em;
    padding-bottom: 0.6em;
}

.col-jumbo-left {
    width: 35%;
    padding-right: 3.5em;
}

.col-jumbo-right {
    width: 65%;
}

.jumbo-desc {
    padding-bottom: 1.5em;
}

.col-jumbo-left .btn-blue {
    font-size: 1.1em;
}

.jumbo-desc-little {
    padding-top: 0.9em;
    padding-bottom: 3em;
    font-size: 0.9em;
}


.arrow-down i {
    font-size: 2.5em;
}

.arrow-down a,
.arrow-down a:hover,
.arrow-down a:focus,
.arrow-down a:active {
    color: black;
}


.jumbo-img {
    top: 0;
    left: 0;
}

.col-jumbo-right img {
    width: 100%;
}

/* Main */

main {
    width: 100%;
    padding-top: 10em;
}

main h2 {
    font-size: 2.5em;
    padding: 2em 0 1.5em 0;
}

main h3 {
    font-size: 1.5em;
}

main h4 {
    font-size: 0.9em;
    padding: 1.3em 0 1em 0;
}

main .partner {
    height: 500px;
    background-color: lightgrey;
}

main .dropbox-features {
    height: 1200px;
    background-color: lightsalmon;
}

main .teams {
    height: 700px;
    background-color: lightyellow;
}

main .trial {
    height: 400px;
    background-color: lightseagreen;
}

main .faq {
    height: 800px;
    background-color: salmon;
}

/* Piani tariffari */

span.circle {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    cursor: pointer;
}

span.circle.bordered {
    border: 3px solid var(--blue);
}

span.circle.empty {
    border: 1px solid grey;
}

.billing > span {
    line-height: 15px;
    vertical-align: middle;
}

span.billing-type {
    padding-left: 0.2em;
    padding-right: 3em;
}

.container-col-plans {
    margin: 3em 0 3em 0;
}

.container-col-plans .col-plan {
    width: calc(100% / 3 - 40px);
    /* height: 800px; */
    background-color: white;
    border: 1px solid lightgrey;
}

.container-col-plans .col-plan:nth-child(2) {
    margin: 0 60px 0 60px;
}

.container-col-plans .col-plan:last-child {
    width: 100%;
    margin-top: 3em;
}

.col-plan .for-who {
    text-align: center;
    padding: 0.5em 0;
    border-bottom: 1px solid lightgrey;
}

.col-plan .container-offer {
    padding: 2em 2em 2em 2em;
}

p.grey {
    color: grey;
    font-size: 0.9em;
}

p.offer-black {
    font-size: 0.9em;
}

.first-row .desc-offer {
    padding-bottom: 10em;
}

.desc-offer ul {
    list-style-type: none;
    font-size: 0.8em;
    padding: 3em 0;
}

.desc-offer li {
    padding-bottom: 1em;
    font-size: 1.1em;
}

.desc-offer li:last-child {
    padding-bottom: 0em;
}

.desc-offer .li-icon {
    width: 7%;
}

.desc-offer .li-desc {
    width: 93%;
}

span.purchase {
    display: inline-block;
    font-size: 0.9em;
    padding: 2em 0;
}

span.purchase.underline {
    border-bottom: 1px solid lightgrey;
}

span.purchase a,
span.purchase a:hover,
span.purchase a:active,
span.purchase a:focus {
    color: var(--blue);
    text-decoration: underline;
}

.hightlights > h4 {
    padding: 3em 0 0 0;
}

.hightlights > ul {
    padding: 1.5em 0;
}

.hightlights .fa-check {
    color: var(--blue);
    font-size: 1.2em;
}

.col-plan.second-row .col-left {
    width: 80%;
}

.col-plan.second-row .col-right {
    width: 20%;
}